.light-button {
  display: flex;
  margin: 4px;
  height: 4rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  background-color: #444;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  min-width: 8rem;
  transition: background-color 0.3s;
  border-width: 0;
}

.active-button {
  background-color: #ffdd00c2;
}

.light-button:hover {
  background-color: #666;
}

.active-button:hover {
  background-color: #fade27;
}

.light-button-text {
  font-size: medium;
  transition: color 0.3s;
}

.active-text {
  color: white;
}
